@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #25252b;
}

.container {
  position: relative;
  width: 750px;
  height: 450px;
  border: 2px solid #ff2770;
  box-shadow: 0 0 25px #ff2770;
  border-radius: 15px;
  overflow: hidden;
}

/* Formulários */
.form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  transition: all 0.8s ease;
}
.form-box.Register {
  left: 100%;
}
.container.active .form-box.Login {
  left: -50%;
}
.container.active .form-box.Register {
  left: 50%;
}

/* Inputs */
.input-box {
  position: relative;
  width: 100%;
  margin-top: 25px;
}
.input-box input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  font-size: 16px;
  color: #fff;
  padding-right: 23px;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  transition: .5s;
}
.input-box input:focus,
.input-box input:valid { 
  border-bottom: 2px solid #ff2770;
}
.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 18px;
  transform: translateY(-50%);
  transition: .5s;
}
.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: #ff2770;
}

/* Botão */
.btn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #ff2770;
  overflow: hidden;
  z-index: 1;
  margin-top: 25px;
}

/* Curved shapes */
.curved-shape {
  position: absolute;
  right: 0;
  top: -5px;
  height: 600px;
  width: 850px;
  background: linear-gradient(45deg,#25252b,#ff2770);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
}
.container.active .curved-shape {
  transform: rotate(0deg) skewY(0deg);
}
.curved-shape2 {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: #25252b;
  transform: rotate(-39deg) skewY(-78deg);
  transform-origin: top right;
  transition: 1.5s ease;
}
.container.active .curved-shape2 {
  transform: rotate(-4deg) skewY(-19deg);
}

/* Mensagem fixa */
.info-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
}
.Login-text { display: block; }
.Register-text { display: none; }
.container.active .Login-text { display: none; }
.container.active .Register-text { display: block; }
